					/* CSS Document */


/*Contenu*/

.illustration-team-type1 {
	text-align: center;
}

.illustration-team-type2 {
	height: 15rem;
	width: 15rem;
	padding : 4% 0% 0% 0%;
   
}

.image-logo {
	width: 15rem;
	height: 15rem;
}

.ratio-main {	
    max-width: 100%;
	padding: 0% 0% 0% 0%;
	margin: 0;
	text-align: center;
}

.ratio-kills {
	padding: 0% 0% 0% 0%;
	float: left;
	text-align: left;
	margin: 0;
}

.level-player {
	padding: 0% 0% 0% 0%;
	display: inline-block;
	margin: auto;
	position: absolute;
	text-align: center;
	margin: 0;
}

.ratio-games {
	padding: 0% 0% 0% 0%;
	float: right;
	text-align: right;
	margin: 0;
}

/*slider*/

.main-slider{
	padding: 13% 0% 0% 0%;
}

.slider-content {
	width: 100%;
}
	
.agent {
	width: 15rem;
	height: 15rem;
}
